.success {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.input {
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #27262c7e;
  color: rgb(244, 238, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-align: right;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  height: 40px;
  margin-right: 3px;
}

.section {
  display: flex;
  justify-content: center;
}

.scanLink {
  background-color: rgb(255, 255, 255);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
.scanLink:hover {
  background-color: rgb(203, 203, 204);
}
