.input {
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #27262c7e;
  color: rgb(244, 238, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-align: right;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  height: 40px;
  margin-right: 3px;
}
